body{
	margin:0;
	padding:0;
	font-family: sans-serif;
}

.c-controls{
	margin:10px;
	background-color: #efefef;
	padding:10px;
	display: inline-block;
}

.c-diff{
	margin:5px;
	background-color: #efefef;
	font-family: monospace;
	white-space: pre-wrap;
	overflow: auto;
	border: 1px dotted #afafaf;
	padding:5px;
}

.c-diff__diff-line{
	display:flex;
	transition: background-color 0.3s ease;
}

.c-diff__text-line{
	white-space: pre-wrap;
	width:50%;
	max-width:50%;
}

.c-diff__text-line--left{
	float:left;
}
.c-diff__text-line--right{
	float:right;
}

.c-diff-info{

}
.c-diff__info--insert{
	background: rgba(139,201,139,0.6);
}
.c-diff__info--remove{
	background: rgba(218,173,173,0.6);
}
.c-diff__text-line--new{
	background: rgba(166,243,166,0.5);
}
.c-diff__text-line--old{
	background: rgba(248,203,203,0.5);
}
.c-diff__text-line--hover{
	background: rgba(130,130,130,0.5);
}
.c-shadow-symbol{
	color:rgba(120,120,120,0.8);
	font-size:90%;
}

.c-tooltip{
	max-width:45%;
	font-family: monospace;
	white-space: pre-wrap;
	background-color: #efefef;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);	
	position: absolute;
	z-index:20;
	display: block;
	top:0;
	left:0;
	padding:5px;
	margin-left: 4px;
	margin-top: 4px;
}
.c-tooltip--hide{
	display:none!important;
}
.c-tooltip-info {
    padding: 10px 20px 10px 20px;
    text-align: center;
    width: 100px;
    top:50px;
    left:25px;
}

.h-fixed{
	position:fixed;
}