html,body{
	margin:0;
	padding:0;
}

.container{
	margin-top:20px;
	width:calc(50% - 20px);
}
.container-left{
	float:left;
	margin-left:10px;
}
.container-right{
	float:right;
	margin-right:10px;
}

.diff{
	background-color: #efefef;
	font-family: monospace;
	white-space: pre-wrap;
	overflow: auto;
	border: 1px solid gray;
	padding:5px;
}
.diff__equal{}
.diff__insert{
	background: rgba(139,201,139,0.7);
}
.diff__remove{
	background: rgba(218,173,173,0.7);
}
.diff__new{
	background: rgba(166,243,166,0.6);
}
.diff__old{
	background: rgba(248,203,203,0.6);
}
.diff__highlight{
	background: rgba(130,130,130,0.5);
}
.diff__scrollhighlight{
	background: rgba(200,230,0,0.5);	
}

.diff__old, .diff__new, .diff__eql{
	transition: background-color 0.3s ease;
}

#tooltip{
	max-width:45%;
	font-family: monospace;
	white-space: pre-wrap;
	background-color: #efefef;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);	
	position: absolute;
	z-index:20;
	display: block;
	top:0;
	left:0;
	padding:5px;
	margin-left: 4px;
	margin-top: 4px;
}

.tooltip__hide{
	display:none!important;
}