html,body{
	margin:0;
	padding:0;
}

.controls{
	margin:10px;
	background-color: #efefef;
	padding:10px;
}

/* Diff */
.diff{
	margin:5px;
	background-color: #efefef;
	font-family: monospace;
	white-space: pre-wrap;
	overflow: auto;
	border: 1px dotted #afafaf;
	padding:5px;
}
.diff__line{
	display:flex;
}
.diff__line-left, .diff__line-right{
	white-space: pre-wrap;
	width:50%;
	max-width:50%;
}
.diff__line-left{
	float:left;
}
.diff__line-right{
	float:right;
}
.diff__equal{}
.diff__insert{
	background: rgba(139,201,139,0.6);
}
.diff__remove{
	background: rgba(218,173,173,0.6);
}
.diff__new{
	background: rgba(166,243,166,0.5);
}
.diff__old{
	background: rgba(248,203,203,0.5);
}
.diff__hover{
	background: rgba(130,130,130,0.5);
}
.diff__active{
	background: rgba(200,230,0,0.5);	
}
.diff__line{
	transition: background-color 0.3s ease;
}
.shadow__symbol{
	color:rgba(120,120,120,0.9);
}

/* Tooltip */
.tooltip{
	max-width:45%;
	font-family: monospace;
	white-space: pre-wrap;
	background-color: #efefef;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);	
	position: absolute;
	z-index:20;
	display: block;
	top:0;
	left:0;
	padding:5px;
	margin-left: 4px;
	margin-top: 4px;
}
.tooltip__hide{
	display:none!important;
}
.tooltip__info {
    padding: 10px 20px 10px 20px;
    text-align: center;
    width: 100px;
    top:50px;
    left:25px;
}

/* helper styles */
.fixed{
	position:fixed;
}